<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uc3m.it.CoinPocket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.uc3m.it.CoinPocket.MainActivity"
            android:label="CoinPocket">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uc3m.it.CoinPocket.add_gasto"
            android:label="CoinPocket | Añadir Gasto"
            android:parentActivityName="com.uc3m.it.CoinPocket.MainActivity">
        </activity>
        <activity
            android:name="com.uc3m.it.CoinPocket.add_ingreso"
            android:label="CoinPocket | Añadir Ingreso"
            android:parentActivityName="com.uc3m.it.CoinPocket.MainActivity">
        </activity>


        <activity
            android:name="com.uc3m.it.CoinPocket.consultar"
            android:label="CoinPocket | Consultar Cuentas"
            android:parentActivityName="com.uc3m.it.CoinPocket.MainActivity">
        </activity>
            <activity
                android:name="com.uc3m.it.CoinPocket.gastos_dia"
                android:label="CoinPocket | Gastos por día"
                android:parentActivityName="com.uc3m.it.CoinPocket.consultar">
            </activity>
                <activity
                    android:name="com.uc3m.it.CoinPocket.ScrollTable"
                    android:label="CoinPocket | Modificar gasto"
                    android:parentActivityName="com.uc3m.it.CoinPocket.gastos_dia">
                </activity>
            <activity
                android:name="com.uc3m.it.CoinPocket.gastos_mes"
                android:label="CoinPocket | Gastos por mes"
                android:parentActivityName="com.uc3m.it.CoinPocket.consultar">
            </activity>
                <activity
                    android:name="com.uc3m.it.CoinPocket.change_mes"
                    android:label="CoinPocket | Modificar gasto"
                    android:parentActivityName="com.uc3m.it.CoinPocket.gastos_mes">
                </activity>
            <activity
                android:name="com.uc3m.it.CoinPocket.gastos_year"
                android:label="CoinPocket | Gastos por año"
                android:parentActivityName="com.uc3m.it.CoinPocket.consultar">
            </activity>
                <activity
                    android:name="com.uc3m.it.CoinPocket.change_year"
                    android:label="CoinPocket | Modificar gasto"
                    android:parentActivityName="com.uc3m.it.CoinPocket.gastos_year">
                </activity>
            <activity
                android:name="com.uc3m.it.CoinPocket.gastos_total"
                android:label="CoinPocket | Gastos por totales"
                android:parentActivityName="com.uc3m.it.CoinPocket.consultar">
            </activity>



        <activity
            android:name="com.uc3m.it.CoinPocket.objetivos"
            android:label="CoinPocket | Objetivos"
            android:parentActivityName="com.uc3m.it.CoinPocket.MainActivity">
        </activity>
        <activity
            android:name="com.uc3m.it.CoinPocket.deudas"
            android:label="CoinPocket | Deudas"
            android:parentActivityName="com.uc3m.it.CoinPocket.MainActivity">
        </activity>
    </application>

</manifest>